{% extends "base.html" %}
{% block body %}
<i><h4>About us..</h4></i>
<ul>
    <li>
       <i data-aos="fade-left"> India is an agrarian country with around 60% of its people depending directly or indirectly upon agriculture.
           Recent data shows that an average farm household makes around Rs 20,000 a year from agriculture.
           Therefore most of the agriculture households are in Debt.
           As per records average loan amount outstanding per household is above Rs 50,000.</i>
    </li>
<li>
 <i data-aos="fade-left">The small and marginal farmer or "Annadata” faces multiple challenges including debt, drought, crop failure, and inability to access markets.
     Our Model is designed to help farmers overcome these problems without subsidy.</i>
</li>
<li>
<i data-aos="fade-left">Currently we are working with Groundnut farmers of Anantpur, Mango farmers of Chittoor and Red gram, Cotton, Soya farmers of Adilabad and Yavatmal. We have reached out to over 31,000 farmers at present and help them to cut costs, improve yields and significantly increase net incomes through value addition and better marketing. As we scale our activities we hope to help both farmers and consumers.
     </i></li>
</ul>
{% endblock body%}

